/* Footer */
.footer {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: auto;
    border-top: solid 1px #dbd8d8;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.footer-right {
    padding-right: 2rem;
}

.footer-logo {
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.footer-text h3 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.footer-text p {
    font-size: 1rem;
}

.footer-right a {
    margin-left: 20px;
    color: var(--strong-black);
}

.footer-right a:hover {
    color: var(--primary-color);
}

/* Footer Responsiveness */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer-left .footer-logo {
        padding-bottom: 1rem;
    }

    .footer-left p {
        padding-top: 1px;
    }

    .footer-left,
    .footer-right {
        margin: 0;
        padding: 1rem;
    }

    .footer-text h3 {
        font-size: 1rem;
    }

    .footer-right a {
        margin-left: 10px;
    }
}
