:root {
    --primary-color: #C82333;
    --secondary-color: #353A40;
    --third-color: #F0F1F1;
    --strong-white: #FFFFFF;
    --strong-black: #000000;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: var(--third-color);
    color: var(--strong-black);
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-color: var(--strong-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: var(--strong-white);
    position: relative;
    z-index: 10; /* Navbar tetap di atas */
}

.navbar-left {
    display: flex;
    align-items: center;
    z-index: 101; /* Navbar-left tetap di atas menu */
}

.gmni-logo {
    width: 5em;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    object-fit: cover;
    margin-right: 1em;
}

.navbar-text {
    display: flex;
    flex-direction: column;
}

.navbar-title {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.navbar-subtitle {
    font-size: 1rem;
    color: var(--strong-white);
}

.navbar-right a {
    margin-left: 30px;
    color: var(--strong-white);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-right a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 11;
}

.hamburger span {
    height: 4px;
    width: 25px;
    background-color: var(--strong-white);
    margin-bottom: 5px;
    border-radius: 2px;
}


/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar-right {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh; /* Full height dari atas sampai bawah */
        width: 250px;
        background-color: var(--strong-black);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 130px; /* Sesuaikan padding untuk menempatkan link di atas */
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 100; /* Pastikan menu berada di depan konten tapi di belakang navbar-left */
    }

    .navbar-right a {
        font-size: 1.5rem;
        margin: 20px 0; /* Memberi jarak antar link */
        color: var(--strong-white);
    }

    .hamburger {
        display: flex;
        z-index: 110; /* Hamburger menu tetap di atas */
    }

    .navbar.active .navbar-right {
        transform: translateX(0%);
        z-index: 100; /* Menu tetap berada di belakang navbar-left */
    }
}
